.expression_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    h1 {
        color: white;
        font-size: 2rem;
    }

    video {
        border-radius: 3rem;
        border: 3px solid black;
    }

    .detect_btn {
        background-color:#22C55E;
        border: none;
        color:#F1F5F9;
        font-weight: 900;
        padding-inline: 1rem;
        padding-block: 0.5rem;
        font-size: 1.2rem;
        font-weight: 600;
        border-radius: 1rem;
    }

    p {
        font-size: 1.5rem;
        font-weight: 600;
        color: #E2E8F0;
    }
}