* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(24, 24, 24);
}

.app {
  padding: 4rem;
}

.Notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(82, 47, 114);
  border-radius: 2rem;
  padding: 2rem;
  margin-top: 1.4rem;
}

.note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(238, 238, 238);
  width: 100%;
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 2px solid rgb(183, 183, 183);
}

.notes h2 {
  font-size: 3rem;
  text-transform: capitalize;
}

.notes p {
  padding-left: 0.5em;
  font-size: 1.2em;
}


form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  input {
    font-size: 1.3rem;
    border-radius: 1rem;
    padding-inline:1.5rem;
    padding-block:0.5rem;

  }

  button{
    font-size:1.3rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: orange;
    border: none;
  }
}

.btns{
  display: flex;
  flex-direction: column;
}

.delete_btn{
  font-size:1rem;
  padding: 0.5rem;
  background-color: rgb(255, 53, 53);
  border: none;
  color:rgb(244, 244, 244);
  font-weight: bold;
  border-radius: 0.5rem;
  margin-bottom: 0.4rem;
}

.edit_btn{
  font-size:1rem;
  padding: 0.5rem;
  background-color: rgb(221, 221, 221);
  border: none;
  color:rgb(8, 8, 8);
  font-weight: bold;
  border-radius: 0.5rem;
}

.edit_overlay{
  display: flex;
  justify-content: center;
  align-items: center;
  top:0;
  bottom:0;
  left:0;
  right:0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.431);
}

.edit_note{
  position: relative;
  padding-top:2.5rem;
  padding-bottom:1.5rem;
  padding-inline:2rem;
  background-color: rgb(241, 241, 241);
  border-radius: 1rem;
}

.back_btn{
  position: absolute;
  top:0.7rem;
  left:1rem;
  border: none;
  font-size:0.9rem;
  text-decoration: underline;
}