
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html,body,#root{
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(24, 24, 24);
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(82, 47, 114);
  padding: 2rem;
}

.notes{
  width: 100%;
  margin-bottom:2em;
  padding-bottom:1em;
  border-bottom: 2px solid rgb(183, 183, 183);
}

.notes h2{
  font-size:3rem;
  text-transform: capitalize;
}

.notes p{
  padding-left:0.5em;
  font-size:1.2em;
}