*{
    margin: 0;
    padding:0;
}

html,body,#root{
    height:100%;
    width:100%;
    background-color: rgb(36, 36, 36);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

