main {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgb(25, 29, 36), rgb(40, 47, 59));
    color: white
}

.form_container {
    min-height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 2.8rem;
        font-weight: 600;
        margin-bottom: 3rem;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        input {
            font-size: 1rem;
            color: white;
            padding-inline: 1.5rem;
            padding-block: 1rem;
            min-width: 17rem;
            border-radius: 3rem;
            background-color: rgb(31, 36, 45);
            border: 2px solid rgba(22, 64, 142, 0.791);
        }

        input::placeholder {
            opacity: 1;
        }

        button {
            background: linear-gradient(to bottom right, rgb(106, 0, 255), rgb(78, 78, 244));
            color: white;
            font-size: 1rem;
            border: none;
            border-radius: 1rem;
            padding-inline: 2.4rem;
            padding-block: 0.5rem;

        }


    }


    .auth_Navigate {
        display: flex;
        gap: 0.4rem;
        margin-top: 0.9rem;

        .register_Navigate {
            text-decoration: none;
            color: rgb(43, 43, 252);
        }
    }

}