@mixin flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

.createPost_page {
    @include flex;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgb(23, 25, 27), rgb(25, 26, 27));
    color: white
}

.createPost_form_container {
    min-height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 2.8rem;
        font-weight: 600;
        margin-bottom: 3rem;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        input {
            font-size: 1rem;
            color: white;
            padding-inline: 1.5rem;
            padding-block: 1rem;
            min-width: 17rem;
            border-radius: 3rem;
            background-color: rgb(21, 23, 28);
            border: 2px solid rgba(24, 39, 68, 0.791);
        }

        label {
            padding-inline: 7rem;
            padding-block: 7rem;
            border-radius: 2rem;
            background-color: rgb(21, 23, 28);
            border: 2px solid rgba(24, 39, 68, 0.791);
            
            p {
                color: rgba(255, 255, 255, 0.402);
            }

            p:hover {
                text-decoration: underline;
            }

        }

        input::placeholder {
            opacity: 1;
        }

        .upload_btn {
            background: linear-gradient(to bottom right, rgb(106, 0, 255), rgb(78, 78, 244));
            color: white;
            font-size: 1rem;
            border: none;
            border-radius: 1rem;
            padding-inline: 2.4rem;
            padding-block: 0.5rem;

        }


    }
}