@mixin flex($direction: row) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}


main {
    @include flex;
    height:fit-content;
    min-height: 100%;
    width: 100%;
    background: linear-gradient(rgb(23, 25, 27), rgb(25, 26, 27));
    background-color: yellow;
}

.feed {
    @include flex(column);
}


.post_container {
    background-color: rgb(10, 10, 10);
    overflow: hidden;
    margin-block: 0.5rem;
    width: 30rem;
    padding-block: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.content {
    // max-height: 70%;
    object-fit: cover;
    background-color: rgb(31, 31, 31);

    img {
        max-height: 55vh;
        width: 100%;
        object-fit: contain;
    }
}


.post_header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-inline: 0.7rem;
    padding-block: 0.5rem;

    p {
        opacity: 0.9;
        font-size: 0.9rem;
    }

    .profile_img {
        background: conic-gradient(from 10deg, rgb(255, 0, 0), rgb(255, 106, 0), rgb(255, 0, 136), rgb(248, 3, 252), rgb(160, 3, 252), rgb(255, 0, 43));
        height: 2.2rem;
        width: 2.2rem;
        padding: 0.1rem;
        box-sizing: content-box;
        border-radius: 50%;

        img {
            height: 2.2rem;
            width: 2.2rem;
            border-radius: 50%;
        }
    }
}

.post_footer {
    padding-inline: 0.7rem;
    padding-block: 0.5rem;

    .caption {
        font-size: 0.8em;
        margin-top: 0.4rem;
        opacity: 0.9;
    }

    .post_features {
        @include flex;
        justify-content: space-between;
        
        div {
            display: flex;
            gap: 0.8rem;
        }

        i {
            font-size: 1.3rem;
        }
    }
}